@media screen and (max-width:850px){
    nav{
        flex-direction: column;
        align-items: center;
        padding: 10px 0px;
    }
    nav ul{
        height: 34px;
        margin: 3px 0px;
    }
    nav ul li{
        margin: 2px 0px;
    }
    .search input{
        margin: 0px 5px 6px 0px;
        width: 35vw;
        height: 30px;
    }
    .search button{
        margin: 0px 0px 6px 0px;
    }
    .card-item img{
        width: 140px;
    }
    .slider img {
        width: 88vw;
        height: 30vh;}
        .logo{
            margin: 0px 0px 9px 0px;
        }
}