.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    background-color: var(--main-bg-color);
    padding: 5px 10px;
    border-radius: 7px;
    color: white;
    cursor: pointer;
}
.text-center{
    text-align: center;
}
.my-2{
    margin: 26px 0px;
}
.my-1{
    margin: 5px 0px;
}
.color{
    color: brown;
}
    