@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --main-bg-color: #2874f0;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--main-bg-color);
    font-family: 'Lato', sans-serif;

}

nav {
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0px 23px;
}

nav ul li a {

    text-decoration: none;
    color: white;
}

nav ul li a:hover {

    color: rgb(41, 41, 41);
}

nav ul {
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo img {
    width: 88px;
    padding: 0px 25px;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    width: 34vw;
    padding: 0 16px;
    border-radius: 2px 0 0 2px;
    border: 0;
    outline: 0 none;
    font-size: 14px;
    height: 36px;
    margin: 0px -70px 0px 0px;
}
.search button:hover {

    width:70px;
    height:32px ;
}

.search button {
    font-family: 'Lato', sans-serif;
    width: 68px;
    height: 30px;
}

.container {
    min-height: calc(100vh - 58px - 12vh);
}

.marg{
    margin: 21px;
}

.slider img {
    width: 80vw;
    height: 55vh;
}

.slider {
    display: flex;
    justify-content: center;
    margin: 12px auto;
    overflow: hidden;
}

.card {
    max-width: 91vw;
    margin: auto;
    font-family: 'Lato', sans-serif;
}

.cards {
    display: flex;
    overflow: hidden;
    margin: 5px 0px;
    background: #605b5b30;
    padding: 16px 0px 0px 0px;
    border-radius: 5px;
}

.card-item {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 16px;
}

.card h2 {
    font-family: 'Lato', sans-serif;
}

footer {
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Lato', sans-serif;
}